<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - The Cocktail Bar</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            background-color: #f7f7f7;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em 0;
        }

        section {
            max-width: 100%;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            color: #333;
        }

        p {
            margin-bottom: 1.5em;
        }
    </style>
</head>
<body>

    <header>
        <h1>The Cocktail Bar</h1>
        <p>Crafting Exquisite Cocktails Since 2000</p>
    </header>

    <section>
        <h2>About Us</h2>
        <p>Welcome to The Cocktail Bar, your ultimate destination for extraordinary cocktails and memorable experiences. Our bar is a haven for cocktail enthusiasts and those seeking a delightful escape from the ordinary.</p>

        <p>At The Cocktail Bar, we take pride in our expert mixologists who skillfully craft each drink to perfection. Our menu is a curated selection of classic favorites and innovative creations, using only the finest ingredients to ensure a remarkable taste in every sip.</p>
        <p> We offer a great variery of Fruit, beer and vodka cocktails </p>
        <p>Whether you're a seasoned cocktail connoisseur or a newcomer to the world of mixology, our friendly and knowledgeable staff is here to guide you through our diverse menu and make your visit truly enjoyable.</p>

        <p>Join us at The Cocktail Bar for an unforgettable experience filled with exceptional drinks, vibrant ambiance, and the joy of savoring moments with friends. Cheers to great times and even greater cocktails!</p>
    </section>


</body>
</html>
