﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/style1.css">
</head>
<body>
    <div class="wrapper login">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    <h2>Welcome!</h2>
                    <p>
                        Login and order now!<br><br>
                        Don't have an account? <a href="@Url.Action("Signup", "Home")" style="text-decoration:underline;"><br>Click here to sign up</a>
                </div>
            </div>
            <div class="col-right">
                <div class="login-form">
                    @if (TempData.ContainsKey("ErrorMessage"))
                    {
                        <div class="msg" style="text-align:center">@TempData["ErrorMessage"]</div>
                    }

                    <h2 style="text-align:center">Admin Login</h2>

                    <form action="/Admin/Login" method="post">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            {
                                <p> <label>User Id<span>*</span></label> <input name="username" type="text" placeholder="Enter your mobile or Email id" required> </p>
                                <p> <label>Password<span>*</span></label> <input name="password" type="password" placeholder="Password" required> </p>
                                <p> <input type="submit" style="background:rgb(216, 232, 216)" value="Log In"> </p>

                            }
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>